<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.DictMapper">

	<select id="findDictByTypeCode" parameterType="string" resultType="com.ssm.pojo.BaseDict">
		select * from base_dict a where a.dict_type_code=#{code} and dict_enable=1 order by dict_sort
	</select>
</mapper>
